@import "components/buttons";
article {
    background-color: rgb(255, 192, 75);
    box-shadow: 0 1em 1.2em rgba(0, 0, 0, 0.1);
    h3 {
        text-align: center;
        margin-bottom: 2em;
    }
    form {
        div {
            margin: 0 auto;
        }
        a {
            text-align: center;
            margin-top: 1.2em;
            margin-bottom: 4em;
            color: white;
            &:hover {
                color: blue;
                transition: ease-out 0.5s;
            }
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        select {
            width: 40%;
            padding: 0.6em;
            border: white;
            box-shadow: 0 1em 1.2em rgba(0, 0, 0, 0.1);
        }
        input[type="submit"] {
            background-color: white;
            border: white;
            color: rgb(255, 192, 75);
            border-radius: 0.2em;
            padding: 0.5em;
            font-weight: 700;
            text-transform: uppercase;
            box-shadow: 0 1em 1.2em rgba(0, 0, 0, 0.1);
            &:hover {
                opacity: 0.8;
            }
        }
    }
}